.author {
  display: flex;
  flex-direction: column;


  &__name {
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }

  &__sign {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}
