.main-nav {
  position: relative;
  line-height: 24px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__toggle {
    position: absolute;

    &--no-js {
//      visibility: hidden;
    }
  }

  &__item {
    position: relative;
    padding: 28px 0 28px 75px;
    box-shadow: inset 1px 1px 0px 0px rgba(236, 236, 236, 1);

    &--open {
      visibility: visible;
    }

    &--close {
      visibility: hidden;
    }
  }

  &__icon {
  position: absolute;
  left: 30px;
  }

}
