.main-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgb(241, 241, 241);

  &__socials {
    width: 140px;
    margin-left: 57px;
    margin-bottom: 45px;
  }

  &__credits {
    padding-left: 37px;
    font-size: 19px;
    line-height: 19px;
  }
}
