.page {
  width: 320px; //temp
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;

  &__container {
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  }

  &__menu-item {  //мобильное меню
    margin: 0 -30px;
  }
}
