.contacts {
  padding-bottom: 39px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.contacts__title {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts__info {
  display: flex;
  padding-bottom: 32px;
}

.contacts__label {
  width: 30%;
}

.contacts__value {
  width: 70%;
  font-style: normal;
}

.contacts__map {
  margin: 4px -31px 39px -31px;
}

.contacts__btn {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: $text-color;
  border-color: $text-color;
}
