.credits {
  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.credits__link {
  display: inline-block;
  vertical-align: top;
}

.credits__icon {
    transform: translate(22px, 11px);
    fill: $color;

    @media (min-width: $screen-md) {
      margin-left: 25px;
      transform: translate(0, 12px);
    }
  }
