.decor-wave {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: calc(100% - 60px);
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 260px 7px;
    background-position: 0 0;
    background-repeat: no-repeat;

    @media (min-width: $screen-md) {
      width: 668px;
      height: 15px;
      background-size: 768px 15px;
      background-position: -30px 0;
      background-repeat: repeat-x;
    }

    @media (min-width: $screen-lg) {
      width: 1050px;
      height: 24px;
      background-size: 1050px 24px;
      background-position: -26px 0;
      background-repeat: repeat-x;
    }
  }
}
