.icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  &--interior {
    &::before {
      width: 40px;
      height: 62px;
      background-image: url("../img/icon-interior.svg");
    }
  }

  &--toy {
    &::before {
      width: 60px;
      height: 60px;
      background-image: url("../img/icon-toy.svg");
    }
  }

  &--flower {
    &::before {
      top: 0;
      left: 7px;
      width: 32px;
      height: 37px;
      background-image: url("../img/icon-feature-flower.svg");

      @media (min-width: $screen-md) {
        top: 58px;
        left: 9px;
      }
    }
  }

  &--clew {
    &::before {
      top: 2px;
      left: 4px;
      width: 35px;
      height: 34px;
      background-image: url("../img/icon-feature-ball.svg");

      @media (min-width: $screen-md) {
        top: 60px;
        left: 4px;
      }
    }
  }

  &--dollar {
    &::before {
      top: 1px;
      width: 47px;
      height: 27px;
      background-image: url("../img/icon-feature-money.svg");

      @media (min-width: $screen-md) {
        top: 60px;
        left: 1px;
      }
    }
  }

  &--rocket {
    &::before {
      top: 4px;
      left: -6px;
      width: 55px;
      height: 23px;
      background-image: url("../img/icon-feature-rocket.svg");

      @media (min-width: $screen-md) {
        top: 62px;
      }
    }
  }

  &--flag {
    &::before {
      @media (min-width: $screen-md) {
        top: -14px;
        right: 2px;
        width: 47px;
        height: 81px;
        background-image: url("../img/icon-flag.svg");
      }

      @media (min-width: $screen-lg) {
        top: -8px;
        right: calc(100% + 65px);
      }
    }
  }

  &--heart {
    &::before {
      top: 6px;
      left: 7px;
      width: 34px;
      height: 27px;
      background-image: url("../img/icon-feature-heart.svg");

      @media (min-width: $screen-md) {
        top: 64px;
        left: 8px;
      }
    }
  }

  &--present {
    &::before {
      top: 1px;
      left: 3px;
      width: 33px;
      height: 32px;
      background-image: url("../img/icon-feature-gift.svg");

      @media (min-width: $screen-md) {
        top: 61px;
        left: 4px;
      }
    }
  }

  &--camera {
    &::before {
      top: 5px;
      left: 33px;
      width: 32px;
      height: 32px;
      background-image: url("../img/icon-video.svg");

      @media (min-width: $screen-md) {
        top: -4px;
        left: 41px;
      }

      @media (min-width: $screen-lg) {
        top: 42px;
        right: 255px;
        left: auto;
      }
    }
  }
}
