.making {
  margin-bottom: 58px;
  padding-bottom: 32px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $screen-md) {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
    padding-bottom: 44px;
  }

  @media (min-width: $screen-lg) {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 104px;
    padding-bottom: 0;
  }
}

.making__title {
  margin-top: 24px;
  margin-bottom: 23px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $screen-md) {
    margin-top: 37px;
    padding-left: 105px;
    font-size: 20px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 0;
    margin-bottom: -144px;
    padding-top: 95px;
    padding-left: 760px;
    padding-right: 58px;
  }
}

.making__wrapper {
  position: relative;
  display: flex;
  background-color: #000000;

  @media (min-width: $screen-md) {
    order: -1;
  }

  @media (min-width: $screen-lg) {
    order: 0;
    width: 682px;
  }
}

.making__video {
  display: block;
  margin: 0 -1px;

  @media (min-width: $screen-md) {
    margin: 0;
    width: 668px;
    height: 455px;
  }

  @media (min-width: $screen-lg) {
    width: 682px;
    height: 455px;
    margin: auto;
  }
}

.making__start-link {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
  margin: auto;
  display: block;
  width: 100px;
  height: 76px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  font-size: 0;
  transition: 0.1s;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.making__description {
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: $text-color;

  @media (min-width: $screen-md) {
    margin-top: 9px;
    margin-bottom: 35px;
    margin-left: -1px;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 47px;
  }
}

.making__order-btn {
  display: inline-block;
  width: 100%;
  padding: 16px;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
}

.making__info-wrapper {
  width: 192px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $screen-md) {
    width: 584px;
  }

  @media (min-width: $screen-lg) {
    width: 230px;
    margin-left: 80px;
    padding-top: 168px;
  }
}
