.properties-table {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color;
  border-collapse: collapse;
}

.properties-table__row {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.properties-table__cell {
  padding-top: 10.5px;
  padding-bottom: 9.5px;

  @media (min-width: $screen-lg) {
    padding-bottom: 10.5px;
  }

  &--title {
    width: 37%;

    @media (min-width: $screen-md) {
      width: 33%;
    }
  }
}
