.reviews {
  margin-top: 25px;
  margin-bottom: 10px;

  @media (min-width: $screen-md) {
    margin-bottom: 85px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 161px;
  }
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $screen-md) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $screen-lg) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__btn {
  display: inline-block;
  width: 100%;

  @media (min-width: $screen-md) {
    position: absolute;
    top: 78px;
    right: 50px;
    width: auto;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.reviews__container {
  position: relative;
  padding-bottom: 50px;

  @media (min-width: $screen-md) {
    padding-top: 78px;
    padding-bottom: 6px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }

    &::after {
      bottom: -80px;
    }
  }

  @media (min-width: $screen-lg) {
    padding-top: 70px;
    padding-bottom: 56px;
    padding-left: 225px;
    background-position: 50px 0;

    &::after {
      left: 50px;
      bottom: -91px;
    }
  }
}
