.review {
  margin-top: 25px;
}

.review__content {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.review__author {
  margin-top: 0px;
//  margin-top: 28px;
}
